 body {
    background-color: rgb(190, 190, 190);
 }

 .courses-link{
   text-decoration: none;
   color: black;
 }

 .courses-link:hover{
   color: rgb(63, 59, 59);
 }

 .tabs {
  background-color:  rgb(180, 177, 177);
  border-width: 1px 0px 1px 0px;
   border-color: rgb(65, 65, 65); 
   border-style: solid;

  }

 .gray-text {
  color: rgb(102, 102, 102);
 }

.heading {
  font-size: 29px;
}

@media (max-width: 768px) {
  .heading {
    font-size: 24px; 
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 15px; 
  }
}


@media (max-width: 1024px) {
  .cont {
    flex-direction: column;
    width: 100%;
  }
}